@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body { 
    background: var(--primary);
}
:root {
    --primary: #004c9a;
    --secondary: rgb(91, 91, 232);
    --white: #FEFDFF;
    --silver: #C1BFB5;
}

header {
    padding: 60px;
    background: linear-gradient(-190deg, var(--white) 50%, var(--primary) 50%);
    color: var(--primary);

}
header a{
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 700;
    color: inherit;
    margin: 30;
    text-transform: capitalize;

}


.container,
.container .accounts-container{
    max-width: 1400px;    
    padding: 20px;
    margin: 10px;
    display: grid;
   

}
.container {
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    justify-content: space-between;
}
.container .accounts-container{
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    align-items: center;
}

.container .accounts-container .empty-data{
    color: var(--white);
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
}

/**Form**/
.container .form,
.container .form-update{
    padding: 20px;
    margin-top: 40px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    background: var(--white);
    max-height: 70vh;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
}

.container .form h2,
.container .form-update h2{
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0 40px 0;
}

.container .form-update h2 {    
   color: #ef9623;
}
.container .form input,
.container .form-update input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--primary);
    outline: none;
    font-size: 16px;
    margin: 0 0 15px 0;
}
.container .form-update input {
    border-bottom: 1px solid #ef9623;
}

.container .form button,
.container .form-update button{
    background: transparent;
    border: 2px solid var(--primary);
    border-radius: 30px;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    color: var(--primary);
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s ease;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
}
.container .form-update button {
    border: 2px solid #ef9623;
    color: #ef9623;
}

.container .form button:hover {
    background: var(--primary);
    color: var(--white);
}
.container .form-update button:hover {
    background: #ef9623;
    color: var(--white);
}

/**Box-detail**/
.container .account-details {
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 20px;
    border: none;
    border-radius: 4px;
    margin: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09);
    position: relative;
    transition: 0.3s ease;
}
.container .account-details:hover {
    transform: scale(1.1);
}
.container .account-details p:nth-child(3) span{
    background: var(--primary);
    color: var(--primary);
    transition: 0.3s ease;
}

.container .account-details p:nth-child(3) span:hover{
    background: inherit;
    color: inherit;
}
.container .account-details p:nth-child(4){
    margin-bottom: 20px;
}
.container .account-details p:nth-child(4){
    margin-bottom: 20px;
}
.container .account-details p:nth-child(4) a{
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s ease;
}
.container .account-details p:nth-child(4) a:hover{
    color: var(--primary);
    font-weight: 700;
}
.container .account-details h4{
    color: var(--primary);
    font-size: 1.5em;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.container .account-details small{
    color: var(--primary);
    font-weight: 400;
}


/**Actions-button**/
.container .account-details .actions-group {
    max-width: 100px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}
.container .account-details .actions-group a{
    text-decoration: none;
    text-align: center;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s ease-in;

}
.container .account-details .actions-group a:nth-child(1){
    background: var(--white);
    border: 1px solid #ef9623;
    color: #ef9623;

}
.container .account-details .actions-group a:nth-child(1):hover{
    background: #ef9623;
    border: none;
    color: var(--white);
}
.container .account-details .actions-group a:nth-child(2){
    background: var(--white);
    border: 1px solid #F80A4D;
    color: #F80A4D;
}
.container .account-details .actions-group a:nth-child(2):hover{
    background: #F80A4D;
    border: none;
    color: var(--white);
}

/** Alert **/
.error,
.success{
    margin: 20px 0 20px 0;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}

.error{
    background: #FBD9E0;
    border: 1px solid #F80A4D;
    color: #F80A4D;
}

.success {
    background: #9CC5A1;
    border: 1px solid #006C67;
    color: #006C67;
}

.none {
    display: none;
}

/** footer **/
footer {
    background: var(--white);
    display: flex;
    justify-content: center;
    padding: 35px 0;
    
}

footer a{
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
    margin-left: 10px;
    
}
footer a:hover{
    font-weight: 700; 
}



/* Responsive */
@media (max-width: 500px) {
    header {
        padding: 30px;
        background: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header a {
        font-size: 1.8em;
    }   
    .container {
       display: flex;
       flex-direction: column;
    }
    .container .accounts-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .container .account-details {
        margin: 0;
        margin-bottom: 20px;
    }
    footer {
      padding: 35px;
    }
    footer p{
        text-align: center;
    }
}
